body {
    background: #071612;
}

.bg-black {
    background: #000;
}
.card-project:hover {
    border: 1px solid #fff;
    cursor: pointer;
}
.card-project2:hover {
    border: 1px solid #27e6ac;
    cursor: pointer;
}
